<center>
  <h1>
    WELCOME TO THE APP <BR>
      STEPHEN<BR>
        ALWAYS REMEMBER WHAT CHRISTINA AGUILERA SAID ABOUT YOU<BR>
          YOU ARE BEAUTIFUL NO MATTER WHAT THEY SAY<BR>
  </h1>
</center>
